*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('./images/john-towner-JgOeRuGD_Y4-unsplash.jpg');
    background-size: cover;
}
#logo{
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 50px;
    padding-left: 40px;
}
#navigation{
    font-size: 20px;
    display: block;
    float: right;
    margin-right: 25px;
    margin-top: 25px;
}
nav a{
    padding-left: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
nav a:hover{
    color: rgb(255, 0, 34);
}
#home{
    display: inline-block;
    margin: 0px auto;
    color: white;
}
#home{
    display: block;
    float: left;
    text-align: center;
    margin-top: 15%;
    margin-left: 35%;
}
h1{
    font-size: 40PX;  
    color: aliceblue; 
}
p{
    font-style: normal;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}
.btn{
    width: 160px;
    margin-top: 20px;
    height: 30px;
    border-radius: 25px;
    padding-left: 20px;
    background-color: lightblue;
}
.btn:hover{
    background-color: rgb(235, 235, 118);
    cursor: pointer;
    color: rgb(9, 1, 1);
}